/* 1. Brauzer va body darajasida erkin skroll berish */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f6f0;
  overflow-y: auto !important; /* Sahifa erkin pastga skroll bo'ladi */
  -webkit-overflow-scrolling: touch;
}

/* 2. Asosiy konteynerni to'liq kenglik va moslashuvchan qilish */
#root,
.app-main-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-y: visible !important;
}

/* Qolgan standart kodlar */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}